body {
  background-color: #006362;
}
h1 {
  color: #FFC745;
}
h2 {
  color: #FFC745;
}
p {
  color:#D9D9D9;
}
:root {
  --font-family--reading: 'Roboto', sans-serif;
  --font-family--headings: 'Montserrat', sans-serif;
}
body {
  font-family: var(--font-family--reading);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--headings);
  font-style: italic;
}

