body {
  background-color: rgb(0, 99, 98);
}
h1 {
  color: #FFC745;
}
h2 {
  color: #FFC745;
}
p {
  color:#D9D9D9;
}
:root {
  --font-family--reading: 'Roboto', sans-serif;
  --font-family--headings: 'Montserrat', sans-serif;
}
body {
  font-family: var(--font-family--reading);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--headings);
  font-style: italic;
}

html,
body,
div {
  padding: 0;
  margin: 0;
}



span {
  display: inline-block;
  line-height: 1.4;
  padding: 20px;
  background-color: rgba(0, 99, 98, 0.6);
}

#container-with-background {
  height: 100vh;
  background: rgb(76, 0, 255) url('../img/raheem-sterling-hero.jpg') no-repeat fixed 0 0 / cover;
}

